
.buttonDiv {
  /* display: none; */
  visibility: hidden;
  position: relative;
  bottom: 80px;
  /* right:100px; */
  left:20px;
  z-index:100;
  
}

img:hover + .buttonDiv, .buttonDiv:hover {
   /* display: inline-block;  */
  visibility: visible;
}

button{
  display: block;
}